body 
{
   margin: 0;
   font-family:"Courier New",Courier,monospace;
   background:linear-gradient(90deg, rgba(18,183,213,1) 12%, rgba(252,70,107,1) 100%);
}
code 
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
button
{
	cursor:pointer;
}